name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/actions.json
      - .github/workflows/**
      - actions/**
      - justfile

permissions:
  contents: read

jobs:
  lint-actions:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-tools
      - run: just-dev lint-actions

  check-action-images:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-tools
      - run: just-dev check-action-images

  pull-action-images:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-tools
      - run: just-dev pull-action-images

  setup-tools:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-tools
      - run: which just
      - run: just --version
      - run: k3d version
      - run: kubectl version --output=yaml --client
      - run: just-cargo --list
      - run: just-dev --list
      - run: just-k3d --list
      - run: just-sh --list

  setup-go:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-go
      - run: which go
      - run: go version

  setup-rust:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./actions/setup-rust
      - run: which cargo
      - run: cargo version
