name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/actions.json
      - .github/workflows/**
      - justfile

permissions:
  contents: read

jobs:
  lint-actions:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    container: docker://ghcr.io/linkerd/dev:v34-action
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: docker://ghcr.io/linkerd/dev:v34-action
        with:
          args: lint-actions

  check-action-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: docker://ghcr.io/linkerd/dev:v34-action
        with:
          args: check-action-images

  pull-action-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: docker://ghcr.io/linkerd/dev:v34-action
        with:
          args: pull-action-images
