name: Devcontainer

on:
  pull_request:
    paths:
      - .devcontainer/**
      - .github/workflows/devcontainer.yml
      - Dockerfile
      - justfile

permissions:
  contents: read

jobs:
  dev-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./actions/setup-tools
      - run: just build

  dev-shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./actions/setup-tools
      - run: just-sh

  dev-pull:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./actions/setup-tools
      - run: just-dev pull-dev-image

  markdownlint:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101
        with:
          globs: |
            **/*.md
            !repos/**
