name: Devcontainer

on:
  pull_request:
    paths:
      - .devcontainer/**
      - .github/workflows/devcontainer.yml
      - Dockerfile
      - justfile

permissions:
  contents: read

jobs:
  dev-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: ./actions/setup-tools
      - run: just build

  dev-shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: ./actions/setup-tools
      - run: just-sh

  dev-pull:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: ./actions/setup-tools
      - run: just-dev pull-dev-image

  markdownlint:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e
        with:
          globs: |
            **/*.md
            !repos/**
